@import url(../css/nullstyle.css);
body {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
h1 {
    overflow: visible !important;
   font-weight: 600 !important;
    font-size: 15px !important;
}

.div__h1{

margin-bottom: 10px;

}